# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/
*.log

# Data
data/vector_db/

# OS Files
.DS_Store
Thumbs.db